.cabecalho {
    background-color:rgb(51, 255, 0);
    color: white;
    text-align: center;
    max-width:800px;
    margin: 0 auto;
    padding: 20px;
}
.conteudo-principal{
    background-color: rgb(7, 136, 61);
    color: black;
}

img{
width: 400px;
height: 400px;
}
.conteudo-autor{
    font-weight: bold;
    text-decoration: italic;
}
.conteudo-principal-texto{
    font-weight: bold;
}